<h2> Fragances </h2>
<hr>
<br>

{{#each products.docs}}
<div>

    <div id="messages__container2">
    <h2> {{ this.name }} </h2>
    <br>
    <h3> {{ this.brand }} </h3>
    <br>
    <h3> {{ this.price }} </h3>

    <div class="products__container">
    <img width="50" src="{{ this.photo }}">
    </div>
    <h3> {{ this.description }} </h3>    
    <br>
    <br>

    <a href="/products/delete/{{this._id}}">Delete</a>
    <br>

    <a href="/products/addcart/{{this._id}}">Add to Cart</a>
    
    </div>
    <br>
    <br>
    <hr>

</div>
{{/each}}
<br>
<div>
    <h3>
        {{#if products.hasPrevPage }}
        <a href="/products?page={{products.prevPage}}&limit={{products.limit}}&sort={{sort_val}}">Página previa</a>
        {{/if}}

        {{#if products.hasNextPage }}
        <a href="/products?page={{products.nextPage}}&limit={{products.limit}}&sort={{sort_val}}">Página siguiente</a>
        {{/if}} 
    </h3>
</div>
<br>
<hr>